:root {
    --primary-color: #0e1116;
    --secondary-color: #020409;
    --font-size: 1vw;
    --font-family: Arial, Helvetica, sans-serif;
    --container-top: 8%;
}

body {
    background-color: var(--secondary-color);
    justify-items: center;
    overflow: hidden;
}

@keyframes bring-front {
    from {
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }

    to {
        z-index: 3;
        top: 8%;
        transform: scale(100%);
    }
}

@keyframes bring-middle {
    from {
        z-index: 1;
        top: 14%;
        transform: scale(94%);
    }

    to {
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }
}

@keyframes bring-back {
    0% {
        left: 35%;
        z-index: 3;
        transform: scale(100%);
        top: 8%;
    }

    50% {
        left: 10%;
        rotate: 25deg;
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }

    100% {
        left: 35%;
        rotate: 0deg;
        z-index: 1;
        top: 14%;
        transform: scale(94%);
    }
}

@keyframes bring-front-from-back {
    0% {
        left: 35%;
        z-index: 1;
        transform: scale(94%);
        top: 14%;
    }

    50% {
        left: 10%;
        rotate: 25deg;
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }

    100% {
        left: 35%;
        rotate: 0deg;
        z-index: 3;
        top: 8%;
        transform: scale(100%);
    }
}

@keyframes push-middle {
    from {
        z-index: 3;
        top: 8%;
        transform: scale(100%);
    }

    to {
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }
}

@keyframes push-back {
    from {
        z-index: 2;
        top: 11%;
        transform: scale(97%);
    }

    to {
        z-index: 1;
        top: 14%;
        transform: scale(94%);
    }
}

main {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;

    & form {
        user-select: none;
        color: white;
        font-family: var(--font-family);

        & h2 {
            padding: 0;
            margin: 0;
            font-style: italic;
        }
    }
}

.login-container {
    position: absolute;
    top: var(--container-top);
    left: 35%;
    width: 30%;
    height: 80%;
    background-color: var(--primary-color);
    border: solid 0.15vw white;
    border-radius: 1vw;
    z-index: 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3%;

    & h2 {
        flex: 0 0 15%;
        align-content: center;
        font-size: calc(var(--font-size) + 0.8vw);
    }

    & div[class="message"] {
        flex: 0 0 5%;
        width: 85%;
        align-content: center;
        font-size: var(--font-size);
        display: flex;

        & p {
            flex: 0 0 68%;
            margin: 0;
            text-align: left;
        }

        & a {
            flex: 0 0 32%;
            color: white;
            text-decoration: none;
            text-align: center;
            cursor: pointer;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
                text-decoration: underline;
            }
        }
    }

    & button {
        flex: 0 0 8%;
        width: 85%;
        font-size: calc(var(--font-size) + 0.1vw);
        border: none;
        border-radius: 100vw;
        background-color: white;
        color: var(--secondary-color);
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    & div[class="register"] {
        flex: 0 0 5%;
        width: 85%;
        align-content: center;
        text-align: center;
        font-size: var(--font-size);

        & a {
            color: white;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }

    & img {
        flex: 0 0 20%;
        width: 30%;
        -webkit-user-drag: none;
    }
}

.register-container {
    position: absolute;
    top: calc(var(--container-top) + 3%);
    left: 35%;
    width: 30%;
    height: 80%;
    background-color: var(--primary-color);
    border: solid 0.15vw white;
    border-radius: 1vw;
    transform: scale(97%);
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3%;

    & h2 {
        flex: 0 0 15%;
        margin-bottom: -3%;
        font-size: calc(var(--font-size) + 0.8vw);
        align-content: center;
    }

    &>p {
        flex: 0 0 3%;
        margin: 0;
        width: 85%;
    }

    &>button {
        flex: 0 0 8%;
        width: 85%;
        font-size: calc(var(--font-size) + 0.1vw);
        border: none;
        border-radius: 100vw;
        background-color: white;
        color: var(--secondary-color);
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    & div[class="login"] {
        flex: 0 0 5%;
        width: 85%;
        margin-top: -2%;
        align-content: center;
        text-align: center;
        font-size: var(--font-size);

        & p {
            margin: 0;
        }

        & a {
            color: white;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

.recovery-container {
    position: absolute;
    top: calc(var(--container-top) + 6%);
    left: 35%;
    width: 30%;
    height: 80%;
    background-color: var(--primary-color);
    border: solid 0.15vw white;
    border-radius: 1vw;
    transform: scale(94%);
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3%;
    & h2 {
        flex: 0 0 15%;
        margin-bottom: -3%;
        font-size: calc(var(--font-size) + 0.8vw);
        align-content: center;
    }
    & .verification-code {
        flex: 0 0 10%;
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1%;
        & button {
            flex: 0 0 25%;
            height: 70%;
            font-size: var(--font-size);
            border: none;
            border-radius: 100vw;
            background-color: white;
            color: var(--secondary-color);
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
            }
        }
        & .input-fields {
            flex: 0 0 74%;
            height: 100%;
        }
    }
    & > p {
        flex: 0 0 3%;
        margin: 0;
        width: 85%;
    }
    & > button {
        flex: 0 0 8%;
        width: 85%;
        font-size: calc(var(--font-size) + 0.1vw);
        border: none;
        border-radius: 100vw;
        background-color: white;
        color: var(--secondary-color);
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    & div[class="login"] {
        flex: 0 0 5%;
        width: 85%;
        margin-top: -2%;
        align-content: center;
        text-align: center;
        font-size: var(--font-size);

        & p {
            margin: 0;
        }

        & a {
            color: white;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}

.input-fields {
    flex: 0 0 9%;
    width: 85%;
    padding: 0vw 0vw 0.1vw 0vw;
    border: none;
    border-bottom: solid 0.15vw rgba(255, 255, 255, 0.5);

    & legend {
        font-size: var(--font-size);
    }

    & input {
        width: 99%;
        height: 100%;
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: calc(var(--font-size) + 0.1vw);

        &::-ms-reveal {
            filter: invert(100%);
        }
    }
}

.error-message {
    color: red;
    font-size: var(--font-size);
}