:root {
    --primary-color: #0e1116;
    --secondary-color: #020409;
    --font-size: 1vw;
    --font-family: Arial, Helvetica, sans-serif;
    --container-top: 5%;
}

body {
    background-color: var(--secondary-color);
    justify-items: center;
    overflow: hidden;
}

main {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    & form {
        user-select: none;
        color: white;
        font-family: var(--font-family);
        & h2 {
            padding: 0;
            margin: 0;
            font-style: italic;
        }
    }
}

.login-container {
    position: absolute;
    top: var(--container-top);
    left: 32.5%;
    width: 35%;
    height: 90%;
    background-color: var(--primary-color);
    border: solid 0.15vw white;
    border-radius: 1vw;
    z-index: 3;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    & h2 {
        flex: 0 0 15%;
        align-content: center;
        font-size: calc(var(--font-size) + 0.8vw);
    }
    & div[class="message-fields"] {
        flex: 0 0 3%;
        width: 85%;
        align-content: center;
        font-size: var(--font-size);
        display: flex;
        & p {
            flex: 0 0 100%;
            margin: 0;
            text-align: left;
        }
    }
    & div[class="link-fields"] {
        width: 85%;
        flex: 0 0 4%;
        font-size: var(--font-size);
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & div {
            flex: 0 0 70%;
            height: 100%;
            display: flex;
            align-items: center;
            & input {
                flex: 0 0 2%;
                height: 100%;
                border: none;
                background: none;
                outline: none;
                color: white;
                font-size: calc(var(--font-size) + 0.1vw);
            }
        }
        & a {
            flex: 0 0 auto;
            color: white;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    & button {
        flex: 0 0 8%;
        width: 85%;
        font-size: calc(var(--font-size) + 0.1vw);
        border: none;
        border-radius: 100vw;
        background-color: white;
        color: var(--secondary-color);
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    & div[class="register"] {
        flex: 0 0 5%;
        width: 85%;
        align-content: center;
        text-align: center;
        font-size: var(--font-size);
        & a {
            color: white;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    & img {
        flex: 0 0 4%;
        width: 24%;
        -webkit-user-drag: none;
    }
}

.input-fields {
    flex: 0 0 9%;
    width: 85%;
    padding: 0vw 0vw 0.1vw 0vw;
    border: none;
    border-bottom: solid 0.15vw rgba(255, 255, 255, 0.5);
    & legend {
        font-size: var(--font-size);
    }
    & input {
        width: 99%;
        height: 100%;
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: calc(var(--font-size) + 0.1vw);
        &::-ms-reveal {
            filter: invert(100%);
        }
    }
}

.error-message {
    color: red;
    font-size: var(--font-size);
}