body {
    background-color: #020409;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "navbar panel"
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    user-select: none;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
}

.control-container {
    flex: 0 0 8%;
    display: flex;
    align-items: center;
    gap: 1vw;
    & button {
        width: 2.8vw;
        height: 2.8vw;
        margin-left: 1vw;
        border: none;
        border-radius: 100vw;
        background-image: url('/image/back.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        filter: invert(80%);
        color: white;
        outline: none;
        font-size: 1.15vw;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}

.search-container {
    flex: 0 0 8%;
    align-content: center;
    & fieldset {
        width: 80%;
        margin: 0 auto;
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        gap: 1vw;

        & img {
            width: 7%;
            filter: invert(80%);
        }

        & input {
            width: 93%;
            border: none;
            background-color: transparent;
            color: white;
            outline: none;
            font-size: 1.1vw;
            padding: 0;
            margin-top: 0.2vw;
        }
    }
}

.setting-container {
    flex: 0 0 77%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15vw;
    color: white;
    & ul {
        width: 90%;
        height: 35vw;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        & li {
            display: flex;
            align-items: center;
            gap: 1vw;
            padding: 0.8vw;
            border-radius: 0.3vw;
            cursor: pointer;

            & img {
                width: 8%;
                filter: invert(100%);
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        .active-list-item {
            background-color: rgba(255, 255, 255, 0.1);
            font-weight: bold;
        }
    }
}

.content-panel {
    grid-area: panel;
    color: white;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.profile-panel {
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.profile-header {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: relative;
    & img {
        width: 20%;
        filter: invert(80%);
        padding: 2vw;
        position: relative;
    }
    & span {
        font-size: 1.5vw;
        font-weight: bold;
    }
    & button {
        position: absolute;
        bottom: 4.5vw;
        width: 3vw;
        height: 3vw;
        border: none;
        border-radius: 100vw;
        background-image: url('/image/camera.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        filter: invert(80%);
        outline: none;
        font-size: 1.1vw;
        cursor: pointer;
    }
}

.profile-content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 0 2vw;
    & fieldset {
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        & legend {
            font-size: 1vw;
        }
        & input {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.1vw;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 0;
            margin-top: 0.2vw;
        }
        & button {
            flex-shrink: 0;
            width: 1.5vw;
            height: 1.2vw;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            background-image: url('/image/edit.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(80%);
            color: white;
            outline: none;
            font-size: 1.1vw;
            border-radius: 0.3vw;
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.profile-footer {
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    padding: 0 2vw;
    & button {
        padding: 1vw 2vw;
        border: none;
        border-radius: 100vw;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
        outline: none;
        font-size: 1.15vw;
        cursor: pointer;
        &:last-child {
            background-color: rgba(255, 0, 0, 0.9);
            color: white;
            outline: none;
            &:hover {
                background-color: rgba(255, 0, 0, 0.7);
            }
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

.profile-editing-dialog {
    top: -56%;
    left: 24%;
    width: 30%;
    height: 35%;
    background-color: #0e1116;
    border-radius: 1vw;
    border: solid 0.15vw rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.2);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.profile-editing-dialog-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h3 {
        width: 90%;
        flex: 0 0 20%;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 1.5vw;
        text-align: left;   
        color: rgba(255, 255, 255, 0.9);
        align-content: center;
    }
    & div:nth-child(2) {
        flex: 0 0 40%;
        width: 90%;
        align-content: center;
        & input {
            width: 95%;
            height: 50%;
            border: solid 0.15vw rgba(255, 255, 255, 0.2);
            border-radius: 0.3vw;
            background: transparent;
            outline: none;
            margin: 0 auto;
            color: white;
            font-size: 1.1vw;
            padding: 0vw 0.5vw;
            &::-webkit-calendar-picker-indicator {
                filter: invert(80%);
            }
            &:focus {
                border: solid 0.15vw rgba(255, 255, 255, 0.5);
            }
        }
    }
    & div:last-child {
        flex: 0 0 20%;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        gap: 1vw;
        & button {
            padding: 0.8vw 2vw;
            border: none;
            border-radius: 100vw;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            outline: none;
            font-size: 1.15vw;
            cursor: pointer;
            &:last-child {
                background-color: rgba(255, 255, 255, 0.9);
                color: black;
                outline: none;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.profile-password-editing-dialog {
    left: 25%;
    width: 50%;
    height: 70%;
    background-color: #0e1116;
    border-radius: 1vw;
    border: solid 0.15vw rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.2);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.profile-password-editing-dialog-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    & h3 {
        width: 90%;
        flex: 0 0 15%;
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 1.5vw;
        text-align: left;   
        color: rgba(255, 255, 255, 0.9);
        align-content: center;
    }
    & fieldset {
        flex: 0 0 6%;
        width: 90%;
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        align-content: center;
        padding: 0.5vw 1vw 1vw 1vw;
        & legend {
            font-size: 1vw;
        }
        & input {
            width: 100%;
            height: 100%;
            border: none;
            background: transparent;
            outline: none;
            margin: 0 auto;
            color: white;
            font-size: 1.1vw;
            padding: 0vw 0.5vw;
            &::-ms-reveal {
                filter: invert(100%);
            }

        }
        &:nth-child(3) {
            display: flex;
            align-items: center;
            & input {
                flex: 0 0 80%;
            }
            & button {
                flex: 0 0 20%;
                border: none;
                background: transparent;
                outline: none;
                color: white;
                font-size: 1.1vw;
                text-decoration: underline;
                cursor: pointer;
                &:hover {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    & div:last-child {
        flex: 0 0 15%;
        width: 95%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1vw;
        & button {
            height: 60%;
            padding: 0vw 2vw;
            border: none;
            border-radius: 100vw;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            outline: none;
            font-size: 1.15vw;
            cursor: pointer;
            &:last-child {
                background-color: rgba(255, 255, 255, 0.9);
                color: black;
                outline: none;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.appearance-panel {
    display: none;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    & h2 {
        flex: 0 0 20%;
        width: 90%;
        margin: 0 auto;
        font-size: 2.5vw;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.9);
        align-content: center;
    }
    & fieldset {
        flex: 0 0 5%;
        width: 90%;
        margin: 0 auto;
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        & legend {
            font-size: 1.1vw;
        }
        & select {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.2vw;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 0;
            margin-top: 0.2vw;
            cursor: default;
            & option {
                background-color: #0e1116;
                color: white;
                font-size: 1.2vw;
            }
        }
    }
    & div:last-child {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        gap: 1vw;
        & button {
            padding: 0.8vw 2vw;
            border: none;
            border-radius: 100vw;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            outline: none;
            font-size: 1.15vw;
            cursor: pointer;
            &:disabled {
                background-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.5);
                cursor: not-allowed;
            }
            &:enabled:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.language-panel {
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    & h2 {
        flex: 0 0 20%;
        width: 90%;
        margin: 0 auto;
        font-size: 2.5vw;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.9);
        align-content: center;
    }
    & fieldset {
        flex: 0 0 5%;
        width: 90%;
        margin: 0 auto;
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        & select {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.2vw;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 0;
            margin-top: 0.2vw;
            cursor: pointer;
            & option {
                background-color: #0e1116;
                color: white;
                font-size: 1.2vw;
            }
        }
    }
    & div:last-child {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        gap: 1vw;
        & button {
            padding: 0.8vw 2vw;
            border: none;
            border-radius: 100vw;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            outline: none;
            font-size: 1.15vw;
            cursor: pointer;

            &:disabled {
                background-color: rgba(255, 255, 255, 0.1);
                color: rgba(255, 255, 255, 0.5);
                cursor: not-allowed;
                
            }
            &:enabled:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

.about-panel {
    display: none;
    height: 100%;
    flex-direction: column;
    gap: 1vw;
    margin-bottom: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    & h2 {
        flex: 0 0 20%;
        width: 90%;
        margin: 0 auto;
        font-size: 2.5vw;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.9);
        align-content: center;
    }
    & fieldset {
        flex: 0 0 5%;
        width: 90%;
        margin: 0 auto;
        border: solid 0.15vw rgba(255, 255, 255, 0.2);
        border-radius: 0.3vw;
        display: flex;
        align-items: center;
        gap: 1vw;
        & legend {
            font-size: 1.1vw;
        }
        & input {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.2vw;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 0;
            margin-top: 0.2vw;
            cursor: default;
        }
        & textarea {
            width: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            font-size: 1.2vw;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            padding: 0;
            margin-top: 0.2vw;
            cursor: default;
            resize: none;
            line-height: 1.5;
        }
    }
}

.help-panel {
    display: none;
}