<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMail</title>
    <link rel="stylesheet" href="/css/entry.css">
    <script type="text/javascript" src="/js/entry.js"></script>
</head>
<body>
    <main>
        <form class="login-container" enctype="multipart/form-data">
            <h2>Login</h2>
            <fieldset class="input-fields">
                <legend>Vmail</legend>
                <input type="email" name="vmail" placeholder="Type your Vmail" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <fieldset class="input-fields">
                <legend>Password</legend>
                <input type="password" name="password" placeholder="Type your password" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <div class="message">
                <p class="error-message">Error</p>
                <a onclick="showRecovery()">Forgot password?</a>
            </div>
            <button type="button" onclick="">Login</button>
            <div class="register">
                <p>Don't have Vmail account yet?</p>
                <a onclick="showRegister()">Create one</a>
            </div>
            <img src="/image/brand.svg">
        </form>
        <form class="register-container" enctype="multipart/form-data">
            <h2>Register</h2>
            <fieldset class="input-fields">
                <legend>Fullname</legend>
                <input type="text" name="fullname" placeholder="Type your full name" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <fieldset class="input-fields">
                <legend>Username</legend>
                <input type="text" name="username" placeholder="Type your username" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <fieldset class="input-fields">
                <legend>Vmail</legend>
                <input type="email" name="vmail" placeholder="Type your Vmail" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <fieldset class="input-fields">
                <legend>Password</legend>
                <input type="password" name="password" placeholder="Type your password" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <fieldset class="input-fields">
                <legend>Confirm Password</legend>
                <input type="password" name="confirm-password" placeholder="Confirm your password" autocomplete="off" onfocus="onInputFocus(this.parentElement)" onblur="onInputBlur(this.parentElement)">
            </fieldset>
            <p class="error-message">Error</p>
            <button type="button" onclick="">Register</button>
            <div class="login">
                <p>Already have Vmail account? <a onclick="showLogin(this.parentElement.parentElement.parentElement)">Login</a></p>
            </div>
        </form>
        <form class="recovery-container" enctype="multipart/form-data">
            <button type="button" onclick="">Reset Password</button>
        </form>
    </main>
</body>
</html>